@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black: #000000;
    --red:#d7463c;
    --white: #ffffff;
    --font-family-orbitron: "Orbitron", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
    --font-optical-sizing: auto;
    --font-weight-300: 300;
    --font-weight: 400;
    --font-weight-500: 500;
    --font-style: normal;
}

.btn-update{
    border: 1px solid var(--black);
    border-radius: 20px;
}

.nav-link-detalle{
    color: var(--black);
}


.tit-detalle{
    font-size: 55px;
    margin-right: 16px;
} 

.subtit-detalle{
    font-size: 28px;
}

.bi-wind, .bi-car-front, .bi-quote{
    width: 50px;
    height: 50px;
    color: var(--red);
}

.img-detalle{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.testimonio{
    width: 280px;
    height: 270px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    position: absolute;
    bottom: -815px;
    left: 730px;
}

.test, .nom-test{
    color: var(--white);
}